/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

/* button primary */
.btn-primary{
    font-size: 1.25rem;
    color: #FFFFFF;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}

/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.text-description{
    font-weight: 400;
    color: #727272;
}
.banner img{
    margin-top: 30px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1400px;
    margin: 80px auto;
}
/* team styles */
.team-container{
    display: flex;
    align-items: center;
    
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.team-title{
    font-size: 2.7rem;
}
.team-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
/* facts section */
.facts-card{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.facts-card .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card .card-text{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 3px;
}
.card-number{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sponsors styles */
.sponsor{
    text-align: center;
}
.sponsors-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.sponsors-img img{
    width: 165px;
}

/* responsive media queries */
/* small devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .team-container, .sponsors-img{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .team-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card{
        flex-direction: column;
        gap: 20px;
    }
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 40px;
    }
    nav, .team-container, .sponsors-img{
        flex-direction: column;
    }
}